*/node_modules
node_modules
api/cypress/support
api/cypress/fixtures
api/cypress/plugins
api/cypress/videos
api/cypress/screenshots
api/cypress/downloads
api/certs/server.*

static/index.js
static/index.js.map
static/lib/chat.js

/sensor_Interface/target
*.log
*/sensor.wtl